{# add_friend.html #}

{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add new Friend</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <input type="text" class="form-control mb-3" id="room-code-input" placeholder="Enter friend's username" name="name" value="{{name}}">
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-secondary mb-5">Add friend</button>
                        </div>
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>
{% endblock extra_js %}
