{# load.html #} {% extends "chat_base.html" %} {% block title %}Chat App{%
endblock title %} {% block navbar %}
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('room_chat') }}">Group Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('add_friend') }}">Add Friend</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
  </ul>
</div>
{% endblock navbar %} {% block extra_css %} {{ super() }} {% endblock extra_css
%} {% block content %}
<script>
  let username = `{{ name }} `;
</script>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% block sidebar %}
      <h3>Chat Info</h3>
      <ul class="list-group">
        <li class="list-group-item">Name: {{ name }}</li>
        <li class="list-group-item">Code: {{ random_code }}</li>
      </ul>
      {% endblock sidebar %}
    </div>
    <div class="col-md-9">
      {% block chat_area %}
      <h2 class="mb-4">Chat Messages</h2>
      <!-- Messages area -->
      <div id="chat-messages" class="mb-3">
        <!-- Messages will be appended here -->
      </div>

      <!-- Message input and send button -->
      <form id="chat-message-form">
        <div class="input-group mb-3">
          <input
            type="text"
            name="chat-message-input"
            id="message-input"
            class="form-control"
            placeholder="Type your message..." />
          <button id="btn" class="btn btn-primary" type="submit">Send</button>
        </div>
      </form>
      {% endblock chat_area %}
    </div>
  </div>
</div>
{% endblock content %} {% block extra_js %} {{ super() }}

<script>
  let code = "{{ random_code }}".trim();
  let username = "{{ name }}".trim();
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
  integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='scripts/private_socketio.js')}}"></script>

{% endblock extra_js %}
