 {# room_chat.html #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Group Chat </title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" />
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <header class="container my-3">
      <h1 class="custom-color">Chatters</h1>
      {% block header %}{% endblock header %}
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {% block link %}
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('private_chat') }}">
                Chat with Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create_room') }}"
                >Create new room</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>

        {% endblock link %}

      </div>
    </nav>

    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"></button>
      </div>
      {% endfor %} {% endif %} {% endwith %} 

      {% block content %}

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Rooms</h3>
            <ul id="room-list" class="list-group">
              <!-- Rooms will be populated here -->
            </ul>
          </div>
          <div class="col-md-9">
            <h2>Chat Room: <span id="current-room"></span></h2>
            <div id="message-area"></div>
            <form id="message-form">
              <input
                type="text"
                class="form-control"
                id="user-msg"
                autocomplete="off"
                placeholder="Type your message..." />
              <button
                id="send_msg"
                class="form-control btn btn-primary"
                type="submit">
                Send
              </button>
            </form>
          </div>
        </div>
      </div>

      {% endblock content %}

    </main>

    <script>
      let username = `{{ username }}`;
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
      integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>

    <footer class="container mt-5">
      <p class="text-center">&copy; 2024 Chatters. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>
  </body>
</html>


